body {
  font-family: 'Georgia', serif;
  background: #262320;
  color: #e2d8d1;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 10vh;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff3e0;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffc38a;
}

.typing-text {
  font-size: 2.5rem;
  font-weight: 700;
  border-right: 3px solid #97337e;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  margin: 0 auto;
  animation: typing 4s steps(20, end) forwards, blink 0.75s step-end infinite;
  max-width: 90%;
}

@keyframes typing {
  from { width: 0; }
  to { width: 20ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: #9d5386; }
}
nav {
  background-color: #705a83;
  padding: 1rem 0;
  margin-bottom: 4rem;
  justify-content: center;
  gap: 30px;
  opacity:0;
  opacity: 0;
  transition: opacity 1s ease;
  display : flex;
  pointer-events: none;
}

nav.show {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.welcome-message {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-style: Times New Roman;
  color: #dfdeeb;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.welcome-message.show {
  display: block;
  opacity: 1;
}

